<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U-Plan-It!</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="flex-column justify-space-around">
        <header class="display-flex justify-space-between align-center p-2">
            <h1> U-Plan-It! </h1>
            <nav>
                <!-- conditionally render login or logout links using handlebars -->
                {{#if logged_in}}
                <a href="/profile">profile</a> |
                <button class="no-button" id="logout">logout</button>
                {{else}} <!-- if the user is not logged in, show login link -->
                <a href="/login">login</a>
                {{/if}}
            </nav>
        </header>
        <main class="container container-fluid mt-5">
            <img src="public/css/images/U-Plan-It-Logo.png" alt="U-Plan-It Logo" style="width: 200px; height: auto;">
        </main>
        <footer>

        </footer>
    </div>

    <!-- conditionally render logout script for logged-in users only -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>