:root {
    --light: #f2f9f1;
    --greenishLight: #ddeedf;
    --lightGreen: #b6cdbd;
    --olive: #5c715e;
}

body {
    background: linear-gradient(var(--light), var(--greenishLight),var(--lightGreen), var(--olive));
background-repeat: repeat-x;
overflow:scroll;

}

h1 {
    text-shadow: black 1px 2px;
}

img {
    background-blend-mode: screen;
   
}
nav a:link {
color: var(--olive);
text-shadow: #5c715e 1px 1px;
font-size: xx-large;
font-weight: 600;
font-family: cursive;
text-decoration: none;
}
h2 {
    font-family: cursive;
    text-shadow: black 2px;
    font-weight: 600;
}


*, ::after, ::before {
    align-items: center;
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: cursive;
}

@media (max-height: 600px) {
    body {
        background: linear-gradient(var(--light), var(--greenishLight),var(--lightGreen), var(--olive));
    background-repeat: repeat-x;
    overflow:scroll;
    
    }

}