:root {
    --light: #f2f9f1;
    --greenishLight: #ddeedf;
    --lightGreen: #b6cdbd;
    --olive: #5c715e;
}

body {
    background: linear-gradient(var(--light), var(--greenishLight),var(--lightGreen), var(--olive));
}

